body {
  font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-weight: 845;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.site-header{
    background-color: #FF0000;
    color: white;
    padding: 1rem 2rem;s
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}



.cart-icon-wrapper {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    width: 100px; 
    text-align: right;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}


.product-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center; 
    border-radius: 10px;
}


.product-img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    border-radius: 8px;
}

.product-name { font-weight: bold; font-size: 1.2rem; margin: 10px 0; }
.product-price { color: #e44d26; font-size: 1.1rem; }
.bestseller { background: #fef9c3; color: #854d0e; }
